body {
    font-family: Georgia, 'Times New Roman', Times, 'sans serif';
    margin: auto 0;
}

.jumbotron {
    border-radius: 10px;
    margin: 0 auto;
    text-align:center;
    color:white;
    background-color: rgb(37, 99, 35);
    margin:10px 0;
    text-shadow: 2.5px 2.5px gray;
}

#panel-table {
    border: 1px solid rgb(37, 99, 35);
    margin: 10px 0;
    border-radius: 10px;
    padding-bottom: 20px;
}

.panel-default > .panel-heading{
    background-color: rgb(37, 99, 35);
    color:white;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

#panel-form {
    border: 1px solid rgb(37, 99, 35);
    margin: 10px 0; 
    border-radius: 10px;
    padding-bottom: 20px;
}

#add-train{
    background: rgb(37, 99, 35);
    border: 1px solid rgb(37, 99, 35);
}





