body {
    font-family: Georgia, 'Times New Roman', Times, 'sans serif';
    
}

.jumbotron {
    border-radius: 10px;
    margin: 0 auto;
    text-align:center;
    color:white;
    background-color: lightblue;
    margin:20px 0;
}



